body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

.main-header {
    display: flex;
    border: 4px solid;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: maroon;
    padding-left: 16px;
}

main {
    padding: 16px;
    border: 4px solid;
}

nav {
    display: flex;
    align-items: center;
    
}

nav ul {
    list-style-type: none;
}

nav li{
    display: inline-block;
    padding: 16px;
    color: black;
    font-weight: 900;
}


img {
    display: block;
    width: 150px;
    margin: 20px;
    border-radius: 15px;
}

#headshot {
    position: relative;
}

img:hover {
    background-color: black;
    transition: 0.2s;
}

.link {
    color: black;
}

#me {
    display: flex;
    flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
    .main-header {
        background-color: pink;
        color: aqua;
    }
    .link {
        color: beige;
    }
    body {
        background-color: yellow;
        color: peru;
    }

    
}